@mixin responsiveProperty($property, $configKey) {
  $value: map-get($configuration, $configKey);
  $valueTablet: map-get($configuration, #{$configKey}Tablet);
  $valueDesktop: map-get($configuration, #{$configKey}Desktop);

  #{$property}: $value;

  @if $valueTablet != null {
    @include above($tabletBreakpoint) {
      #{$property}: $valueTablet;
    }
  }

  @if $valueDesktop != null {
    @include above($desktopBreakpoint) {
      #{$property}: $valueDesktop;
    }
  }
}

@mixin responsiveFontProperties($prefix) {
  @include responsiveProperty('font-family', #{$prefix}FontFamily);
  @include responsiveProperty('font-size', #{$prefix}FontSize);
  @include responsiveProperty('line-height', #{$prefix}LineHeight);
  @include responsiveProperty('font-weight', #{$prefix}FontWeight);
  @include responsiveProperty('font-style', #{$prefix}Italic);
  @include responsiveProperty('text-decoration', #{$prefix}Underline);
}

@mixin newsFeed($options: (), $widgetInstanceId: "", $widgetInstanceUUID: "") {
  $configuration: map-merge(
    (
      newsFeedOverlayFontColor: $newsFeedOverlayFontColor,
      newsFeedOverlayFontColorTablet: $newsFeedOverlayFontColorTablet,
      newsFeedOverlayFontColorDesktop: $newsFeedOverlayFontColorDesktop,
      newsFeedWidth: $newsFeedWidth,
      newsFeedWidthTablet: $newsFeedWidthTablet,
      newsFeedWidthDesktop: $newsFeedWidthDesktop,
      newsFeedMaxWidth: $newsFeedMaxWidth,
      newsFeedMaxWidthTablet: $newsFeedMaxWidthTablet,
      newsFeedMaxWidthDesktop: $newsFeedMaxWidthDesktop,
      newsFeedMarginTop: $newsFeedMarginTop,
      newsFeedMarginTopTablet: $newsFeedMarginTopTablet,
      newsFeedMarginTopDesktop: $newsFeedMarginTopDesktop,
      newsFeedMarginRight: $newsFeedMarginRight,
      newsFeedMarginRightTablet: $newsFeedMarginRightTablet,
      newsFeedMarginRightDesktop: $newsFeedMarginRightDesktop,
      newsFeedMarginBottom: $newsFeedMarginBottom,
      newsFeedMarginBottomTablet: $newsFeedMarginBottomTablet,
      newsFeedMarginBottomDesktop: $newsFeedMarginBottomDesktop,
      newsFeedMarginLeft: $newsFeedMarginLeft,
      newsFeedMarginLeftTablet: $newsFeedMarginLeftTablet,
      newsFeedMarginLeftDesktop: $newsFeedMarginLeftDesktop,
      newsFeedVisibility: $newsFeedVisibility,
      newsFeedVisibilityTablet: $newsFeedVisibilityTablet,
      newsFeedVisibilityDesktop: $newsFeedVisibilityDesktop,
      newsFeedTitleFontFamily: $newsFeedTitleFontFamily,
      newsFeedTitleFontFamilyTablet: $newsFeedTitleFontFamilyTablet,
      newsFeedTitleFontFamilyDesktop: $newsFeedTitleFontFamilyDesktop,
      newsFeedTitleFontSize: $newsFeedTitleFontSize,
      newsFeedTitleFontSizeTablet: $newsFeedTitleFontSizeTablet,
      newsFeedTitleFontSizeDesktop: $newsFeedTitleFontSizeDesktop,
      newsFeedTitleFontColor: $newsFeedTitleFontColor,
      newsFeedTitleFontColorTablet: $newsFeedTitleFontColorTablet,
      newsFeedTitleFontColorDesktop: $newsFeedTitleFontColorDesktop,
      newsFeedTitleFontWeight: $newsFeedTitleFontWeight,
      newsFeedTitleFontWeightTablet: $newsFeedTitleFontWeightTablet,
      newsFeedTitleFontWeightDesktop: $newsFeedTitleFontWeightDesktop,
      newsFeedTitleItalic: $newsFeedTitleItalic,
      newsFeedTitleItalicTablet: $newsFeedTitleItalicTablet,
      newsFeedTitleItalicDesktop: $newsFeedTitleItalicDesktop,
      newsFeedTitleUnderline: $newsFeedTitleUnderline,
      newsFeedTitleUnderlineTablet: $newsFeedTitleUnderlineTablet,
      newsFeedTitleUnderlineDesktop: $newsFeedTitleUnderlineDesktop,
      newsFeedTitleLineHeight: $newsFeedTitleLineHeight,
      newsFeedTitleLineHeightTablet: $newsFeedTitleLineHeightTablet,
      newsFeedTitleLineHeightDesktop: $newsFeedTitleLineHeightDesktop,
      newsFeedTitleMarginTop: $newsFeedTitleMarginTop,
      newsFeedTitleMarginTopTablet: $newsFeedTitleMarginTopTablet,
      newsFeedTitleMarginTopDesktop: $newsFeedTitleMarginTopDesktop,
      newsFeedTitleMarginBottom: $newsFeedTitleMarginBottom,
      newsFeedTitleMarginBottomTablet: $newsFeedTitleMarginBottomTablet,
      newsFeedTitleMarginBottomDesktop: $newsFeedTitleMarginBottomDesktop,
      newsFeedDescriptionFontFamily: $newsFeedDescriptionFontFamily,
      newsFeedDescriptionFontFamilyTablet: $newsFeedDescriptionFontFamilyTablet,
      newsFeedDescriptionFontFamilyDesktop: $newsFeedDescriptionFontFamilyDesktop,
      newsFeedDescriptionFontSize: $newsFeedDescriptionFontSize,
      newsFeedDescriptionFontSizeTablet: $newsFeedDescriptionFontSizeTablet,
      newsFeedDescriptionFontSizeDesktop: $newsFeedDescriptionFontSizeDesktop,
      newsFeedDescriptionFontColor: $newsFeedDescriptionFontColor,
      newsFeedDescriptionFontColorTablet: $newsFeedDescriptionFontColorTablet,
      newsFeedDescriptionFontColorDesktop: $newsFeedDescriptionFontColorDesktop,
      newsFeedDescriptionFontWeight: $newsFeedDescriptionFontWeight,
      newsFeedDescriptionFontWeightTablet: $newsFeedDescriptionFontWeightTablet,
      newsFeedDescriptionFontWeightDesktop: $newsFeedDescriptionFontWeightDesktop,
      newsFeedDescriptionItalic: $newsFeedDescriptionItalic,
      newsFeedDescriptionItalicTablet: $newsFeedDescriptionItalicTablet,
      newsFeedDescriptionItalicDesktop: $newsFeedDescriptionItalicDesktop,
      newsFeedDescriptionUnderline: $newsFeedDescriptionUnderline,
      newsFeedDescriptionUnderlineTablet: $newsFeedDescriptionUnderlineTablet,
      newsFeedDescriptionUnderlineDesktop: $newsFeedDescriptionUnderlineDesktop,
      newsFeedDescriptionLineHeight: $newsFeedDescriptionLineHeight,
      newsFeedDescriptionLineHeightTablet: $newsFeedDescriptionLineHeightTablet,
      newsFeedDescriptionLineHeightDesktop: $newsFeedDescriptionLineHeightDesktop,
      newsFeedDescriptionMarginTop: $newsFeedDescriptionMarginTop,
      newsFeedDescriptionMarginTopTablet: $newsFeedDescriptionMarginTopTablet,
      newsFeedDescriptionMarginTopDesktop: $newsFeedDescriptionMarginTopDesktop,
      newsFeedDescriptionMarginBottom: $newsFeedDescriptionMarginBottom,
      newsFeedDescriptionMarginBottomTablet: $newsFeedDescriptionMarginBottomTablet,
      newsFeedDescriptionMarginBottomDesktop: $newsFeedDescriptionMarginBottomDesktop,
      newsFeedSecondDescriptionFontFamily: $newsFeedSecondDescriptionFontFamily,
      newsFeedSecondDescriptionFontFamilyTablet: $newsFeedSecondDescriptionFontFamilyTablet,
      newsFeedSecondDescriptionFontFamilyDesktop: $newsFeedSecondDescriptionFontFamilyDesktop,
      newsFeedSecondDescriptionFontSize: $newsFeedSecondDescriptionFontSize,
      newsFeedSecondDescriptionFontSizeTablet: $newsFeedSecondDescriptionFontSizeTablet,
      newsFeedSecondDescriptionFontSizeDesktop: $newsFeedSecondDescriptionFontSizeDesktop,
      newsFeedSecondDescriptionFontColor: $newsFeedSecondDescriptionFontColor,
      newsFeedSecondDescriptionFontColorTablet: $newsFeedSecondDescriptionFontColorTablet,
      newsFeedSecondDescriptionFontColorDesktop: $newsFeedSecondDescriptionFontColorDesktop,
      newsFeedSecondDescriptionFontWeight: $newsFeedSecondDescriptionFontWeight,
      newsFeedSecondDescriptionFontWeightTablet: $newsFeedSecondDescriptionFontWeightTablet,
      newsFeedSecondDescriptionFontWeightDesktop: $newsFeedSecondDescriptionFontWeightDesktop,
      newsFeedSecondDescriptionItalic: $newsFeedSecondDescriptionItalic,
      newsFeedSecondDescriptionItalicTablet: $newsFeedSecondDescriptionItalicTablet,
      newsFeedSecondDescriptionItalicDesktop: $newsFeedSecondDescriptionItalicDesktop,
      newsFeedSecondDescriptionUnderline: $newsFeedSecondDescriptionUnderline,
      newsFeedSecondDescriptionUnderlineTablet: $newsFeedSecondDescriptionUnderlineTablet,
      newsFeedSecondDescriptionUnderlineDesktop: $newsFeedSecondDescriptionUnderlineDesktop,
      newsFeedSecondDescriptionLineHeight: $newsFeedSecondDescriptionLineHeight,
      newsFeedSecondDescriptionLineHeightTablet: $newsFeedSecondDescriptionLineHeightTablet,
      newsFeedSecondDescriptionLineHeightDesktop: $newsFeedSecondDescriptionLineHeightDesktop,
      newsFeedDetailTitleFontFamily: $newsFeedDetailTitleFontFamily,
      newsFeedDetailTitleFontFamilyTablet: $newsFeedDetailTitleFontFamilyTablet,
      newsFeedDetailTitleFontFamilyDesktop: $newsFeedDetailTitleFontFamilyDesktop,
      newsFeedDetailTitleFontSize: $newsFeedDetailTitleFontSize,
      newsFeedDetailTitleFontSizeTablet: $newsFeedDetailTitleFontSizeTablet,
      newsFeedDetailTitleFontSizeDesktop: $newsFeedDetailTitleFontSizeDesktop,
      newsFeedDetailTitleFontColor: $newsFeedDetailTitleFontColor,
      newsFeedDetailTitleFontColorTablet: $newsFeedDetailTitleFontColorTablet,
      newsFeedDetailTitleFontColorDesktop: $newsFeedDetailTitleFontColorDesktop,
      newsFeedDetailTitleFontWeight: $newsFeedDetailTitleFontWeight,
      newsFeedDetailTitleFontWeightTablet: $newsFeedDetailTitleFontWeightTablet,
      newsFeedDetailTitleFontWeightDesktop: $newsFeedDetailTitleFontWeightDesktop,
      newsFeedDetailTitleItalic: $newsFeedDetailTitleItalic,
      newsFeedDetailTitleItalicTablet: $newsFeedDetailTitleItalicTablet,
      newsFeedDetailTitleItalicDesktop: $newsFeedDetailTitleItalicDesktop,
      newsFeedDetailTitleUnderline: $newsFeedDetailTitleUnderline,
      newsFeedDetailTitleUnderlineTablet: $newsFeedDetailTitleUnderlineTablet,
      newsFeedDetailTitleUnderlineDesktop: $newsFeedDetailTitleUnderlineDesktop,
      newsFeedDetailTitleLineHeight: $newsFeedDetailTitleLineHeight,
      newsFeedDetailTitleLineHeightTablet: $newsFeedDetailTitleLineHeightTablet,
      newsFeedDetailTitleLineHeightDesktop: $newsFeedDetailTitleLineHeightDesktop,
      newsFeedDetailDescriptionFontFamily: $newsFeedDetailDescriptionFontFamily,
      newsFeedDetailDescriptionFontFamilyTablet: $newsFeedDetailDescriptionFontFamilyTablet,
      newsFeedDetailDescriptionFontFamilyDesktop: $newsFeedDetailDescriptionFontFamilyDesktop,
      newsFeedDetailDescriptionFontSize: $newsFeedDetailDescriptionFontSize,
      newsFeedDetailDescriptionFontSizeTablet: $newsFeedDetailDescriptionFontSizeTablet,
      newsFeedDetailDescriptionFontSizeDesktop: $newsFeedDetailDescriptionFontSizeDesktop,
      newsFeedDetailDescriptionFontColor: $newsFeedDetailDescriptionFontColor,
      newsFeedDetailDescriptionFontColorTablet: $newsFeedDetailDescriptionFontColorTablet,
      newsFeedDetailDescriptionFontColorDesktop: $newsFeedDetailDescriptionFontColorDesktop,
      newsFeedDetailDescriptionFontWeight: $newsFeedDetailDescriptionFontWeight,
      newsFeedDetailDescriptionFontWeightTablet: $newsFeedDetailDescriptionFontWeightTablet,
      newsFeedDetailDescriptionFontWeightDesktop: $newsFeedDetailDescriptionFontWeightDesktop,
      newsFeedDetailDescriptionItalic: $newsFeedDetailDescriptionItalic,
      newsFeedDetailDescriptionItalicTablet: $newsFeedDetailDescriptionItalicTablet,
      newsFeedDetailDescriptionItalicDesktop: $newsFeedDetailDescriptionItalicDesktop,
      newsFeedDetailDescriptionUnderline: $newsFeedDetailDescriptionUnderline,
      newsFeedDetailDescriptionUnderlineTablet: $newsFeedDetailDescriptionUnderlineTablet,
      newsFeedDetailDescriptionUnderlineDesktop: $newsFeedDetailDescriptionUnderlineDesktop,
      newsFeedDetailDescriptionLineHeight: $newsFeedDetailDescriptionLineHeight,
      newsFeedDetailDescriptionLineHeightTablet: $newsFeedDetailDescriptionLineHeightTablet,
      newsFeedDetailDescriptionLineHeightDesktop: $newsFeedDetailDescriptionLineHeightDesktop,
      newsFeedDetailDescriptionMarginTop: $newsFeedDetailDescriptionMarginTop,
      newsFeedDetailDescriptionMarginTopTablet: $newsFeedDetailDescriptionMarginTopTablet,
      newsFeedDetailDescriptionMarginTopDesktop: $newsFeedDetailDescriptionMarginTopDesktop,
      newsFeedDetailDescriptionMarginBottom: $newsFeedDetailDescriptionMarginBottom,
      newsFeedDetailDescriptionMarginBottomTablet: $newsFeedDetailDescriptionMarginBottomTablet,
      newsFeedDetailDescriptionMarginBottomDesktop: $newsFeedDetailDescriptionMarginBottomDesktop,
      newsFeedDetailSecondDescriptionFontFamily: $newsFeedDetailSecondDescriptionFontFamily,
      newsFeedDetailSecondDescriptionFontFamilyTablet:
        $newsFeedDetailSecondDescriptionFontFamilyTablet,
      newsFeedDetailSecondDescriptionFontFamilyDesktop:
        $newsFeedDetailSecondDescriptionFontFamilyDesktop,
      newsFeedDetailSecondDescriptionFontSize: $newsFeedDetailSecondDescriptionFontSize,
      newsFeedDetailSecondDescriptionFontSizeTablet: $newsFeedDetailSecondDescriptionFontSizeTablet,
      newsFeedDetailSecondDescriptionFontSizeDesktop:
        $newsFeedDetailSecondDescriptionFontSizeDesktop,
      newsFeedDetailSecondDescriptionFontColor: $newsFeedDetailSecondDescriptionFontColor,
      newsFeedDetailSecondDescriptionFontColorTablet:
        $newsFeedDetailSecondDescriptionFontColorTablet,
      newsFeedDetailSecondDescriptionFontColorDesktop:
        $newsFeedDetailSecondDescriptionFontColorDesktop,
      newsFeedDetailSecondDescriptionFontWeight: $newsFeedDetailSecondDescriptionFontWeight,
      newsFeedDetailSecondDescriptionFontWeightTablet:
        $newsFeedDetailSecondDescriptionFontWeightTablet,
      newsFeedDetailSecondDescriptionFontWeightDesktop:
        $newsFeedDetailSecondDescriptionFontWeightDesktop,
      newsFeedDetailSecondDescriptionItalic: $newsFeedDetailSecondDescriptionItalic,
      newsFeedDetailSecondDescriptionItalicTablet: $newsFeedDetailSecondDescriptionItalicTablet,
      newsFeedDetailSecondDescriptionItalicDesktop: $newsFeedDetailSecondDescriptionItalicDesktop,
      newsFeedDetailSecondDescriptionUnderline: $newsFeedDetailSecondDescriptionUnderline,
      newsFeedDetailSecondDescriptionUnderlineTablet:
        $newsFeedDetailSecondDescriptionUnderlineTablet,
      newsFeedDetailSecondDescriptionUnderlineDesktop:
        $newsFeedDetailSecondDescriptionUnderlineDesktop,
      newsFeedDetailSecondDescriptionLineHeight: $newsFeedDetailSecondDescriptionLineHeight,
      newsFeedDetailSecondDescriptionLineHeightTablet:
        $newsFeedDetailSecondDescriptionLineHeightTablet,
      newsFeedDetailSecondDescriptionLineHeightDesktop:
        $newsFeedDetailSecondDescriptionLineHeightDesktop,
      newsFeedDetailTextFontFamily: $newsFeedDetailTextFontFamily,
      newsFeedDetailTextFontFamilyTablet: $newsFeedDetailTextFontFamilyTablet,
      newsFeedDetailTextFontFamilyDesktop: $newsFeedDetailTextFontFamilyDesktop,
      newsFeedDetailTextFontSize: $newsFeedDetailTextFontSize,
      newsFeedDetailTextFontSizeTablet: $newsFeedDetailTextFontSizeTablet,
      newsFeedDetailTextFontSizeDesktop: $newsFeedDetailTextFontSizeDesktop,
      newsFeedDetailTextFontColor: $newsFeedDetailTextFontColor,
      newsFeedDetailTextFontColorTablet: $newsFeedDetailTextFontColorTablet,
      newsFeedDetailTextFontColorDesktop: $newsFeedDetailTextFontColorDesktop,
      newsFeedDetailTextFontWeight: $newsFeedDetailTextFontWeight,
      newsFeedDetailTextFontWeightTablet: $newsFeedDetailTextFontWeightTablet,
      newsFeedDetailTextFontWeightDesktop: $newsFeedDetailTextFontWeightDesktop,
      newsFeedDetailTextItalic: $newsFeedDetailTextItalic,
      newsFeedDetailTextItalicTablet: $newsFeedDetailTextItalicTablet,
      newsFeedDetailTextItalicDesktop: $newsFeedDetailTextItalicDesktop,
      newsFeedDetailTextUnderline: $newsFeedDetailTextUnderline,
      newsFeedDetailTextUnderlineTablet: $newsFeedDetailTextUnderlineTablet,
      newsFeedDetailTextUnderlineDesktop: $newsFeedDetailTextUnderlineDesktop,
      newsFeedDetailTextLineHeight: $newsFeedDetailTextLineHeight,
      newsFeedDetailTextLineHeightTablet: $newsFeedDetailTextLineHeightTablet,
      newsFeedDetailTextLineHeightDesktop: $newsFeedDetailTextLineHeightDesktop,
      newsFeedDetailTextMarginTop: $newsFeedDetailTextMarginTop,
      newsFeedDetailTextMarginTopTablet: $newsFeedDetailTextMarginTopTablet,
      newsFeedDetailTextMarginTopDesktop: $newsFeedDetailTextMarginTopDesktop,
      newsFeedDetailTextMarginBottom: $newsFeedDetailTextMarginBottom,
      newsFeedDetailTextMarginBottomTablet: $newsFeedDetailTextMarginBottomTablet,
      newsFeedDetailTextMarginBottomDesktop: $newsFeedDetailTextMarginBottomDesktop,
      newsFeedListItemBackground: $newsFeedListItemBackground,
      newsFeedListItemBackgroundTablet: $newsFeedListItemBackgroundTablet,
      newsFeedListItemBackgroundDesktop: $newsFeedListItemBackgroundDesktop,
      newsFeedListDetailOverlayBackground: $newsFeedListDetailOverlayBackground,
      newsFeedListDetailOverlayBackgroundTablet: $newsFeedListDetailOverlayBackgroundTablet,
      newsFeedListDetailOverlayBackgroundDesktop: $newsFeedListDetailOverlayBackgroundDesktop,
      newsFeedListDetailOverlayLineUnderTitleColor: $newsFeedListDetailOverlayLineUnderTitleColor,
      newsFeedListDetailOverlayLineUnderTitleColorTablet:
        $newsFeedListDetailOverlayLineUnderTitleColorTablet,
      newsFeedListDetailOverlayLineUnderTitleColorDesktop:
        $newsFeedListDetailOverlayLineUnderTitleColorDesktop,
      newsFeedFiltersOverlayBackground: $newsFeedFiltersOverlayBackground,
      newsFeedFiltersOverlayBackgroundTablet: $newsFeedFiltersOverlayBackgroundTablet,
      newsFeedFiltersOverlayBackgroundDesktop: $newsFeedFiltersOverlayBackgroundDesktop,
      newsFeedFilterIconColor: $newsFeedFilterIconColor,
      newsFeedFilterIconColorTablet: $newsFeedFilterIconColorTablet,
      newsFeedFilterIconColorDesktop: $newsFeedFilterIconColorDesktop,
      newsFeedFilterIconActiveColor: $newsFeedFilterIconActiveColor,
      newsFeedFilterIconActiveColorTablet: $newsFeedFilterIconActiveColorTablet,
      newsFeedFilterIconActiveColorDesktop: $newsFeedFilterIconActiveColorDesktop,
      newsFeedSearchIconColor: $newsFeedSearchIconColor,
      newsFeedSearchIconColorTablet: $newsFeedSearchIconColorTablet,
      newsFeedSearchIconColorDesktop: $newsFeedSearchIconColorDesktop,
      newsFeedSearchFieldBorderColor: $newsFeedSearchFieldBorderColor,
      newsFeedSearchFieldBorderColorTablet: $newsFeedSearchFieldBorderColorTablet,
      newsFeedSearchFieldBorderColorDesktop: $newsFeedSearchFieldBorderColorDesktop,
      newsFeedSearchFieldBorderActiveColor: $newsFeedSearchFieldBorderActiveColor,
      newsFeedSearchFieldBorderActiveColorTablet: $newsFeedSearchFieldBorderActiveColorTablet,
      newsFeedSearchFieldBorderActiveColorDesktop: $newsFeedSearchFieldBorderActiveColorDesktop,
      newsFeedSearchFieldTextColor: $newsFeedSearchFieldTextColor,
      newsFeedSearchFieldTextColorTablet: $newsFeedSearchFieldTextColorTablet,
      newsFeedSearchFieldTextColorDesktop: $newsFeedSearchFieldTextColorDesktop,
      newsFeedSearchFieldBackgroundColor: $newsFeedSearchFieldBackgroundColor,
      newsFeedSearchFieldBackgroundColorTablet: $newsFeedSearchFieldBackgroundColorTablet,
      newsFeedSearchFieldBackgroundColorDesktop: $newsFeedSearchFieldBackgroundColorDesktop,
      newsFeedBookmarkIconColor: $newsFeedBookmarkIconColor,
      newsFeedBookmarkIconColorTablet: $newsFeedBookmarkIconColorTablet,
      newsFeedBookmarkIconColorDesktop: $newsFeedBookmarkIconColorDesktop,
      newsFeedBookmarkIconActiveColor: $newsFeedBookmarkIconActiveColor,
      newsFeedBookmarkIconActiveColorTablet: $newsFeedBookmarkIconActiveColorTablet,
      newsFeedBookmarkIconActiveColorDesktop: $newsFeedBookmarkIconActiveColorDesktop,
      newsFeedLikeIconColor: $newsFeedLikeIconColor,
      newsFeedLikeIconColorTablet: $newsFeedLikeIconColorTablet,
      newsFeedLikeIconColorDesktop: $newsFeedLikeIconColorDesktop,
      newsFeedLikeIconActiveColor: $newsFeedLikeIconActiveColor,
      newsFeedLikeIconActiveColorTablet: $newsFeedLikeIconActiveColorTablet,
      newsFeedLikeIconActiveColorDesktop: $newsFeedLikeIconActiveColorDesktop,
      newsFeedImageBackground: $newsFeedImageBackground,
      newsFeedImageBackgroundTablet: $newsFeedImageBackgroundTablet,
      newsFeedImageBackgroundDesktop: $newsFeedImageBackgroundDesktop,
      lfdCommentsBackgroundColor: $lfdCommentsBackgroundColor,
      lfdCommentsBackgroundColorTablet: $lfdCommentsBackgroundColorTablet,
      lfdCommentsBackgroundColorDesktop: $lfdCommentsBackgroundColorDesktop,
      lfdCommentsFontColor: $lfdCommentsFontColor,
      lfdCommentsFontColorTablet: $lfdCommentsFontColorTablet,
      lfdCommentsFontColorDesktop: $lfdCommentsFontColorDesktop,
      newsFeedPaddingTop: $newsFeedPaddingTop,
      newsFeedPaddingRight: $newsFeedPaddingRight,
      newsFeedPaddingBottom: $newsFeedPaddingBottom,
      newsFeedPaddingLeft: $newsFeedPaddingLeft,
      newsFeedPaddingTopTablet: $newsFeedPaddingTopTablet,
      newsFeedPaddingRightTablet: $newsFeedPaddingRightTablet,
      newsFeedPaddingBottomTablet: $newsFeedPaddingBottomTablet,
      newsFeedPaddingLeftTablet: $newsFeedPaddingLeftTablet,
      newsFeedPaddingTopDesktop: $newsFeedPaddingTopDesktop,
      newsFeedPaddingRightDesktop: $newsFeedPaddingRightDesktop,
      newsFeedPaddingBottomDesktop: $newsFeedPaddingBottomDesktop,
      newsFeedPaddingLeftDesktop: $newsFeedPaddingLeftDesktop,
      newsFeedListItemBorderSides: $newsFeedListItemBorderSides,
      newsFeedListItemBorderSidesTablet: $newsFeedListItemBorderSidesTablet,
      newsFeedListItemBorderSidesDesktop: $newsFeedListItemBorderSidesDesktop,
      newsFeedListItemBorderWidth: $newsFeedListItemBorderWidth,
      newsFeedListItemBorderWidthTablet: $newsFeedListItemBorderWidthTablet,
      newsFeedListItemBorderWidthDesktop: $newsFeedListItemBorderWidthDesktop,
      newsFeedListItemBorderStyle: $newsFeedListItemBorderStyle,
      newsFeedListItemBorderStyleTablet: $newsFeedListItemBorderStyleTablet,
      newsFeedListItemBorderStyleDesktop: $newsFeedListItemBorderStyleDesktop,
      newsFeedListItemBorder: $newsFeedListItemBorder,
      newsFeedListItemBorderTablet: $newsFeedListItemBorderTablet,
      newsFeedListItemBorderDesktop: $newsFeedListItemBorderDesktop,
      newsFeedListItemBorderRadius: $newsFeedListItemBorderRadius,
      newsFeedListItemBorderRadiusTablet: $newsFeedListItemBorderRadiusTablet,
      newsFeedListItemBorderRadiusDesktop: $newsFeedListItemBorderRadiusDesktop,
      newsFeedListItemShadowStyle: $newsFeedListItemShadowStyle,
      newsFeedListItemShadowStyleTablet: $newsFeedListItemShadowStyleTablet,
      newsFeedListItemShadowStyleDesktop: $newsFeedListItemShadowStyleDesktop,
      newsFeedListItemShadowXoffset: $newsFeedListItemShadowXoffset,
      newsFeedListItemShadowXoffsetTablet: $newsFeedListItemShadowXoffsetTablet,
      newsFeedListItemShadowXoffsetDesktop: $newsFeedListItemShadowXoffsetDesktop,
      newsFeedListItemShadowYoffset: $newsFeedListItemShadowYoffset,
      newsFeedListItemShadowYoffsetTablet: $newsFeedListItemShadowYoffsetTablet,
      newsFeedListItemShadowYoffsetDesktop: $newsFeedListItemShadowYoffsetDesktop,
      newsFeedListItemShadowBlur: $newsFeedListItemShadowBlur,
      newsFeedListItemShadowBlurTablet: $newsFeedListItemShadowBlurTablet,
      newsFeedListItemShadowBlurDesktop: $newsFeedListItemShadowBlurDesktop,
      newsFeedListItemShadowSpread: $newsFeedListItemShadowSpread,
      newsFeedListItemShadowSpreadTablet: $newsFeedListItemShadowSpreadTablet,
      newsFeedListItemShadowSpreadDesktop: $newsFeedListItemShadowSpreadDesktop,
      newsFeedListItemShadowColor: $newsFeedListItemShadowColor,
      newsFeedListItemShadowColorTablet: $newsFeedListItemShadowColorTablet,
      newsFeedListItemShadowColorDesktop: $newsFeedListItemShadowColorDesktop,
      newsFeedPosition: $newsFeedPosition,
      newsFeedPositionTop: $newsFeedPositionTop,
      newsFeedPositionRight: $newsFeedPositionRight,
      newsFeedPositionBottom: $newsFeedPositionBottom,
      newsFeedPositionLeft: $newsFeedPositionLeft,
      newsFeedIndex: $newsFeedIndex,
      newsFeedDisplay: $newsFeedDisplay,
      newsFeedPositionTablet: $newsFeedPositionTablet,
      newsFeedPositionTopTablet: $newsFeedPositionTopTablet,
      newsFeedPositionRightTablet: $newsFeedPositionRightTablet,
      newsFeedPositionBottomTablet: $newsFeedPositionBottomTablet,
      newsFeedPositionLeftTablet: $newsFeedPositionLeftTablet,
      newsFeedIndexTablet: $newsFeedIndexTablet,
      newsFeedDisplayTablet: $newsFeedDisplayTablet,
      newsFeedPositionDesktop: $newsFeedPositionDesktop,
      newsFeedPositionTopDesktop: $newsFeedPositionTopDesktop,
      newsFeedPositionRightDesktop: $newsFeedPositionRightDesktop,
      newsFeedPositionBottomDesktop: $newsFeedPositionBottomDesktop,
      newsFeedPositionLeftDesktop: $newsFeedPositionLeftDesktop,
      newsFeedIndexDesktop: $newsFeedIndexDesktop,
      newsFeedDisplayDesktop: $newsFeedDisplayDesktop,
      newsFeedAddButtonBackground: $newsFeedAddButtonBackground,
      newsFeedAddButtonBackgroundTablet: $newsFeedAddButtonBackgroundTablet,
      newsFeedAddButtonBackgroundDesktop: $newsFeedAddButtonBackgroundDesktop,
      newsFeedAddButtonIcon: $newsFeedAddButtonIcon,
      newsFeedAddButtonIconTablet: $newsFeedAddButtonIconTablet,
      newsFeedAddButtonIconDesktop: $newsFeedAddButtonIconDesktop,
      newsFeedSortIconColor: $newsFeedSortIconColor,
      newsFeedSortIconColorTablet: $newsFeedSortIconColorTablet,
      newsFeedSortIconColorDesktop: $newsFeedSortIconColorDesktop
    ),
    $options
  );

  $instanceSelector: '[data-widget-package="com.fliplet.dynamic-lists"]';
  $layout: '[data-settings-layout="news-feed"]';
  $layoutSelector: "#{$instanceSelector}#{$layout}";
  @if $widgetInstanceUUID != "" {
    $layoutSelector: '#{$layoutSelector}[data-uuid="#{$widgetInstanceUUID}"]';
  } @else if $widgetInstanceId != "" {
    $layoutSelector: '#{$layoutSelector}[data-id="#{$widgetInstanceId}"]';
  }

  #{$layoutSelector} {
    @include responsiveProperty('position', 'newsFeedPosition');
    @include responsiveProperty('z-index', 'newsFeedIndex');
    @include responsiveProperty('width', 'newsFeedWidth');
    @include responsiveProperty('max-width', 'newsFeedMaxWidth');
    
    // Handle visibility
    @if map-get($configuration, newsFeedVisibility) == "visible" {
      @include responsiveProperty('display', 'newsFeedDisplay');
    } @else {
      display: none !important;
    }

    // Handle position-based properties
    @if map-get($configuration, newsFeedPosition) != "relative" {
      @include responsiveProperty('top', 'newsFeedPositionTop');
      @include responsiveProperty('right', 'newsFeedPositionRight');
      @include responsiveProperty('bottom', 'newsFeedPositionBottom');
      @include responsiveProperty('left', 'newsFeedPositionLeft');
    }

    // Handle margins
    @include responsiveProperty('margin-left', 'newsFeedMarginLeft');
    @include responsiveProperty('margin-right', 'newsFeedMarginRight');
    @include responsiveProperty('margin-bottom', 'newsFeedMarginBottom');
    @include responsiveProperty('margin-top', 'newsFeedMarginTop');

    // Handle padding
    @include responsiveProperty('padding-top', 'newsFeedPaddingTop');
    @include responsiveProperty('padding-right', 'newsFeedPaddingRight');
    @include responsiveProperty('padding-bottom', 'newsFeedPaddingBottom');
    @include responsiveProperty('padding-left', 'newsFeedPaddingLeft');

    .dynamic-list-add-item {
      @include responsiveProperty('background-color', 'newsFeedAddButtonBackground');

      .fa-plus {
        @include responsiveProperty('color', 'newsFeedAddButtonIcon');
      }
    }

    /* COMMENTS */
    .news-feed-comment-panel,
    .new-news-feed-comment-panel {
      @include responsiveProperty('background', 'lfdCommentsBackgroundColor');

      .loading-holder {
        color: rgba(map-get($configuration, lfdCommentsFontColor), 0.4);
      }

      .comments-offline {
        background-color: rgba(map-get($configuration, lfdCommentsFontColor), 0.4);
        @include responsiveProperty('color', 'lfdCommentsFontColor');
      }

      .news-feed-comment-panel-header {
        @include responsiveProperty('background-color', 'lfdCommentsBackgroundColor');
        @include responsiveProperty('color', 'lfdCommentsFontColor');
      }

      .news-feed-comment-input-holder {
        @include responsiveProperty('background', 'lfdCommentsBackgroundColor');
        border-color: rgba(map-get($configuration, lfdCommentsFontColor), 0.1);

        .cancel {
          color: rgba(map-get($configuration, lfdCommentsFontColor), 0.7);

          &:hover,
          &:focus,
          &:active:hover,
          &:active:focus {
            color: rgba(map-get($configuration, lfdCommentsFontColor), 0.7);
          }
        }

        .btn.comment,
        .btn.save {
          border-color: rgba(map-get($configuration, lfdCommentsFontColor), 0.3);
          color: rgba(map-get($configuration, lfdCommentsFontColor), 0.3);
        }

        &.ready {
          .btn.comment,
          .btn.save {
            border-color: $highlightColor;
            background-color: $highlightColor;
            @include responsiveProperty('color', 'primaryButtonTextColor');
          }
        }
      }

      .top-comment-holder {
        @include responsiveProperty('background-color', 'lfdCommentsBackgroundColor');
      }

      .fl-individual-comment.editing .top-comment-holder {
        background-color: rgba(map-get($configuration, lfdCommentsFontColor), 0.08);
      }

      .fl-comment-thumb {
        background-color: rgba(map-get($configuration, lfdCommentsFontColor), 0.04);
      }

      textarea[data-comment-body] {
        background-color: transparent;
        @include responsiveProperty('color', 'lfdCommentsFontColor');

        ~ .typeahead.dropdown-menu {
          border-color: rgba(map-get($configuration, lfdCommentsFontColor), 0.1);

          > .active > a {
            background-color: $highlightColor;
            @include responsiveProperty('color', 'primaryButtonTextColor');
          }
        }
      }

      .active .mention_username {
        @include responsiveProperty('color', 'primaryButtonTextColor');
      }
    }

    .new-news-feed-list-container .news-feed-search-filter-overlay {
      .news-feed-overlay-wrapper {
        @include responsiveProperty('background-color', 'newsFeedFiltersOverlayBackground');
        @include responsiveProperty('color', 'newsFeedOverlayFontColor');
      }

      .news-feed-overlay-header {
        @include responsiveProperty('background-color', 'newsFeedFiltersOverlayBackground');
        @include responsiveProperty('color', 'newsFeedOverlayFontColor');
      }

      .hidden-filter-controls-filter {
        border-color: rgba(map-get($configuration, newsFeedOverlayFontColor), 0.8);

        &:hover,
        &:focus {
          color: rgba(map-get($configuration, newsFeedOverlayFontColor), 0.7);
        }

        &.fl-date-picker {
          > .fa:first-child {
            border-color: rgba(map-get($configuration, newsFeedOverlayFontColor), 0.8);
          }

          &.mixitup-control-active > .fa:first-child {
            border-color: map-get($configuration, newsFeedFiltersOverlayBackground);
          }
        }
      }
    }

    .filter-holder {
      .panel .panel-collapse {
        @include responsiveProperty('background-color', 'newsFeedFiltersOverlayBackground');
      }

      .panel-default > .panel-heading {
        @include responsiveProperty('color', 'newsFeedOverlayFontColor');
        @include responsiveProperty('background-color', 'newsFeedFiltersOverlayBackground');
        border-bottom: 1px solid rgba(map-get($configuration, newsFeedOverlayFontColor), 0.2);
      }
    }

    .section-top-wrapper {
      .list-sort .fa {
        @include responsiveProperty('color', 'highlightColor');
      }

      .search-holder {
        input[type="search"] {
          @include responsiveProperty('border-color', 'newsFeedSearchFieldBorderColor');

          &:focus {
            @include responsiveProperty('border-color', 'newsFeedSearchFieldBorderActiveColor');
          }
        }

        .search-feed {
          @include responsiveProperty('background-color', 'newsFeedSearchFieldBackgroundColor');
          @include responsiveProperty('color', 'newsFeedSearchFieldTextColor');

          &::placeholder {
            @include responsiveProperty('color', 'newsFeedSearchFieldTextColor', 0.8);
            opacity: 1;
          }

          &:-ms-input-placeholder {
            @include responsiveProperty('color', 'newsFeedSearchFieldTextColor', 0.8);
          }

          &::-ms-input-placeholder {
            @include responsiveProperty('color', 'newsFeedSearchFieldTextColor', 0.8);
          }
        }

        .fa {
          @include responsiveProperty('color', 'newsFeedSearchIconColor');
        }
      }
    }

    .new-news-feed-list-container,
    .news-feed-list-container {
      .slide-over {
        .news-feed-item-inner-content {
          @include responsiveProperty('background-color', 'newsFeedListItemBackground');

          h2.news-feed-item-title {
            @include responsiveFontProperties('newsFeedTitle');
            @include responsiveProperty('margin-top', 'newsFeedTitleMarginTop');
            @include responsiveProperty('margin-bottom', 'newsFeedTitleMarginBottom');
            @include responsiveProperty('color', 'newsFeedTitleFontColor');

            &:after {
              @include responsiveProperty('background-color', 'newsFeedListDetailOverlayLineUnderTitleColor');
            }
          }
        }
      }

      .news-feed-list-wrapper .news-feed-list-item {
        @include borderOnly(
          (
            borderSides: map-get($configuration, newsFeedListItemBorderSides),
            borderWidth: map-get($configuration, newsFeedListItemBorderWidth),
            borderStyle: map-get($configuration, newsFeedListItemBorderStyle),
            borderColor: map-get($configuration, newsFeedListItemBorder)
          )
        );
        @include responsiveProperty('border-radius', 'newsFeedListItemBorderRadius');

        @include shadowOnly(
          (
            shadowStyle: map-get($configuration, newsFeedListItemShadowStyle),
            shadowXOffset: map-get($configuration, newsFeedListItemShadowXoffset),
            shadowYOffset: map-get($configuration, newsFeedListItemShadowYoffset),
            shadowBlur: map-get($configuration, newsFeedListItemShadowBlur),
            shadowSpread: map-get($configuration, newsFeedListItemShadowSpread),
            shadowColor: map-get($configuration, newsFeedListItemShadowColor)
          )
        );
      }

      .news-feed-item-content {
        @include responsiveProperty('border-radius', 'newsFeedListItemBorderRadius');

        .slide-under {
          @include responsiveProperty('border-top-left-radius', 'newsFeedListItemBorderRadius');
          @include responsiveProperty('border-top-right-radius', 'newsFeedListItemBorderRadius');
        }

        .slide-over {
          @include responsiveProperty('border-bottom-left-radius', 'newsFeedListItemBorderRadius');
          @include responsiveProperty('border-bottom-right-radius', 'newsFeedListItemBorderRadius');
        }

        .news-feed-item-description {
          @include responsiveFontProperties('newsFeedDescription');
          @include responsiveProperty('margin-top', 'newsFeedDescriptionMarginTop');
          @include responsiveProperty('margin-bottom', 'newsFeedDescriptionMarginBottom');
          @include responsiveProperty('color', 'newsFeedDescriptionFontColor');
        }

        .news-feed-info-holder .news-feed-date-category {
          @include responsiveFontProperties('newsFeedSecondDescription');
          @include responsiveProperty('color', 'newsFeedSecondDescriptionFontColor');
        }

        .news-feed-like-holder .news-feed-like-wrapper .fa {
          @include responsiveProperty('color', 'newsFeedLikeIconColor');
        }

        .news-feed-like-holder .news-feed-like-wrapper .fa.animated {
          @include responsiveProperty('color', 'newsFeedLikeIconActiveColor');
        }

        .news-feed-bookmark-holder .news-feed-bookmark-wrapper .fa {
          @include responsiveProperty('color', 'newsFeedBookmarkIconColor');
        }

        .news-feed-bookmark-holder .news-feed-bookmark-wrapper .fa.animated {
          @include responsiveProperty('color', 'newsFeedBookmarkIconActiveColor');
        }

        .slide-under {
          @include responsiveProperty('background-color', 'newsFeedImageBackground');
        }
      }
    }

    .news-feed-detail-overlay {
      .news-feed-detail-overlay-wrapper {
        .news-feed-item-inner-content {
          background-color: map-get($configuration, newsFeedListDetailOverlayBackground);

          h2.news-feed-item-title {
            @include responsiveFontProperties('newsFeedDetailTitle');
            @include responsiveProperty('margin-top', 'newsFeedDetailTitleMarginTop');
            @include responsiveProperty('margin-bottom', 'newsFeedDetailTitleMarginBottom');
            @include responsiveProperty('color', 'newsFeedDetailTitleFontColor');

            &:after {
              @include responsiveProperty('background-color', 'newsFeedListDetailOverlayLineUnderTitleColor');
            }
          }

          .news-feed-item-description {
            @include fontOnly(
              (
                fontFamily: map-get($configuration, newsFeedDetailDescriptionFontFamily),
                fontSize: map-get($configuration, newsFeedDetailDescriptionFontSize),
                fontLineHeight: map-get($configuration, newsFeedDetailDescriptionLineHeight),
                fontWeight: map-get($configuration, newsFeedDetailDescriptionFontWeight),
                fontStyle: map-get($configuration, newsFeedDetailDescriptionItalic),
                fontDecoration: map-get($configuration, newsFeedDetailDescriptionUnderline)
              )
            );

            margin-top: map-get($configuration, newsFeedDetailDescriptionMarginTop);
            margin-bottom: map-get($configuration, newsFeedDetailDescriptionMarginBottom);
            color: map-get($configuration, newsFeedDetailDescriptionFontColor);
          }

          .news-feed-item-description > p {
            @include fontOnly(
              (
                fontFamily: map-get($configuration, newsFeedDetailTextFontFamily),
                fontSize: map-get($configuration, newsFeedDetailTextFontSize),
                fontLineHeight: map-get($configuration, newsFeedDetailTextLineHeight),
                fontWeight: map-get($configuration, newsFeedDetailTextFontWeight),
                fontStyle: map-get($configuration, newsFeedDetailTextItalic),
                fontDecoration: map-get($configuration, newsFeedDetailTextUnderline)
              )
            );

            margin-top: map-get($configuration, newsFeedDetailTextMarginTop);
            margin-bottom: map-get($configuration, newsFeedDetailTextMarginBottom);
            color: map-get($configuration, newsFeedDetailTextFontColor);
          }

          .news-feed-info-holder {
            .news-feed-date-category {
              @include fontOnly(
                (
                  fontFamily: map-get($configuration, newsFeedDetailSecondDescriptionFontFamily),
                  fontSize: map-get($configuration, newsFeedDetailSecondDescriptionFontSize),
                  fontLineHeight: map-get($configuration, newsFeedDetailSecondDescriptionLineHeight),
                  fontWeight: map-get($configuration, newsFeedDetailSecondDescriptionFontWeight),
                  fontStyle: map-get($configuration, newsFeedDetailSecondDescriptionItalic),
                  fontDecoration: map-get($configuration, newsFeedDetailSecondDescriptionUnderline)
                )
              );

              color: map-get($configuration, newsFeedDetailSecondDescriptionFontColor);
            }

            .news-feed-like-holder .news-feed-like-wrapper .fa {
              color: map-get($configuration, newsFeedLikeIconColor);
            }

            .news-feed-like-holder .news-feed-like-wrapper .fa.animated {
              color: map-get($configuration, newsFeedLikeIconActiveColor);
            }

            .news-feed-bookmark-holder .news-feed-bookmark-wrapper .fa {
              color: map-get($configuration, newsFeedBookmarkIconColor);
            }

            .news-feed-bookmark-holder .news-feed-bookmark-wrapper .fa.animated {
              color: map-get($configuration, newsFeedBookmarkIconActiveColor);
            }
          }
        }

        .news-feed-list-detail-image-wrapper {
          color: rgba(map-get($configuration, newsFeedDetailTitleFontColor), 0.1);
          background-color: map-get($configuration, newsFeedImageBackground);
        }

        .news-feed-detail-overlay-close {
          color: map-get($configuration, newsFeedDetailTitleFontColor);
        }
      }
    }

    // filter/search
    .new-news-feed-list-container,
    .news-feed-list-container {
      .news-feed-search-filter-overlay {
        .apply-filters,
        .hidden-filter-controls-filter.mixitup-control-active {
          @include responsiveProperty('background-color', 'highlightColor');
          @include responsiveProperty('color', 'primaryButtonTextColor');
          @include responsiveProperty('border-color', 'highlightColor');
        }
      }

      .filter-holder {
        .panel .panel-collapse {
          @include responsiveProperty('background-color', 'newsFeedFiltersOverlayBackground');
        }
      }

      .section-top-wrapper {
        .list-sort {
          .fa {
            @include responsiveProperty('color', 'highlightColor');
          }
        }

        .search-holder {
          input[type="search"] {
            border-color: map-get($configuration, newsFeedSearchFieldBorderColor);

            &:focus {
              border-color: map-get($configuration, newsFeedSearchFieldBorderActiveColor);
            }
          }

          .search-feed {
            background-color: rgba(map-get($configuration, newsFeedSearchFieldBackgroundColor), 1);
            color: map-get($configuration, newsFeedSearchFieldTextColor);

            &::placeholder {
              color: rgba(map-get($configuration, newsFeedSearchFieldTextColor), 0.8);
              opacity: 1;
            }

            &:-ms-input-placeholder {
              color: rgba(map-get($configuration, newsFeedSearchFieldTextColor), 0.8);
            }

            &::-ms-input-placeholder {
              color: rgba(map-get($configuration, newsFeedSearchFieldTextColor), 0.8);
            }
          }
        }

        .fa {
          color: map-get($configuration, newsFeedSearchIconColor);
        }
      }

      .form-control {
        @include responsiveProperty('background-color', 'bodyBackground');
        @include responsiveProperty('color', 'bodyTextColor');

        &:focus {
          border-color: map-get($configuration, highlightColor);
        }
      }

      .btn.search-btn {
        border: none;
        @include responsiveProperty('color', 'newsFeedSearchFieldTextColor');
        background-color: rgba(map-get($configuration, newsFeedSearchFieldTextColor), 0.1);

        &:hover,
        &:active,
        &:active:hover {
          border: none;
        }
      }
    }

    .list-search-icon {
      .fa-sliders,
      .list-search-cancel .fa-times {
        @include responsiveProperty('color', 'newsFeedFilterIconColor');
      }

      &.active .fa-sliders,
      .list-search-cancel .fa-times {
        @include responsiveProperty('color', 'newsFeedFilterIconActiveColor');
      }

      .toggle-bookmarks {
        &.mixitup-control-active .fa {
          @include responsiveProperty('color', 'newsFeedBookmarkIconActiveColor');
        }

        .fa {
          @include responsiveProperty('color', 'newsFeedBookmarkIconColor');
        }
      }

      .sort-group .fa-sort-amount-desc {
        @include responsiveProperty('color', 'newsFeedSortIconColor');
      }
    }

    .hidden-search-controls .current-query-wrapper {
      @include responsiveProperty('background-color', 'primaryButtonColor');
      @include responsiveProperty('color', 'primaryButtonTextColor');
      @include responsiveProperty('border-color', 'primaryButtonColor');

      &:hover,
      &:focus {
        color: rgba(map-get($configuration, primaryButtonTextColor), 0.7);
      }
    }

    .hidden-filter-controls-label,
    .search-query-holder,
    .no-results-holder {
      color: rgba(map-get($configuration, bodyTextColor), 0.5);
    }

    .hidden-filter-controls-filter {
      border-color: rgba(map-get($configuration, bodyTextColor), 0.8);

      &:hover,
      &:focus {
        color: rgba(map-get($configuration, bodyTextColor), 0.7);
      }

      &.mixitup-control-active {
        @include responsiveProperty('border-color', 'highlightColor');
        @include responsiveProperty('background-color', 'highlightColor');
        @include responsiveProperty('color', 'primaryButtonTextColor');

        &:hover,
        &:focus {
          color: rgba(map-get($configuration, primaryButtonTextColor), 0.7);
        }
      }

      &.fl-date-picker {
        > .fa:first-child {
          border-color: rgba(map-get($configuration, bodyTextColor), 0.8);
        }

        &.mixitup-control-active > .fa:first-child {
          @include responsiveProperty('border-color', 'primaryButtonTextColor');
        }
      }
    }
  }
}

@include newsFeed();
